.relative_block{
    position: relative;
}
.wrapper_card--item{
    width: 100px;
    height: 140px;
    left: 370px;
    top: 329px;
    box-shadow: 0px 24.0776px 48.1552px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 15.0485px !important;
}
.wrapper_card{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
}
.wrapper_card--item{
    text-align: center;
    margin-right: 32px;
    margin-bottom: -92px !important;
}
.wrapper_card--item{
    cursor: pointer;
}
.img__block{
    padding-top: 5px;
}
.img__block{
    width: 90px !important;
    height: 130px !important;
}
@media (min-width: 400px) and (max-width: 600px) {
    .wrapper_card {
        padding-left: 18px;
    }
    .wrapper_card--item {
        margin-right: 21px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .wrapper_card {
        padding-left: 18px;
    }
    .wrapper_card--item {
        margin-right: 21px;
    }
}
